@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fafafa;
  padding: 20px;
}

.form-container {
  width: 100%;
  max-width: 350px;
  margin-bottom: 10px;
}

.form-box {
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  padding: 10px 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instagram-logo {
  font-family: 'Great Vibes', cursive;
  font-size: 44px;
  text-align: center;
  margin: 36px auto 12px;
  background: linear-gradient(45deg, #3a5e63, #46756d, #5c7e84, #2e4b4f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  color: #737373;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 40px 20px;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0 40px;
  width: calc(100% - 80px);
}

.form-input {
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 9px 8px;
  font-size: 12px;
  width: 100%;
  margin-bottom: 6px;
  box-sizing: border-box;
}

.form-input::placeholder {
  color: #8e8e8e;
}

.form-input:focus {
  outline: none;
  border-color: #a8a8a8;
}

.submit-button {
  background-color: #3a5e63;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 7px 16px;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  margin-top: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.submit-button:hover {
  background-color: #172b2e;
}

.submit-button:disabled {
  background-color: #b2dffc;
  cursor: not-allowed;
}

.error-message {
  color: #ed4956;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 10px 40px;
}

.terms {
  color: #8e8e8e;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 18px 40px;
}

.terms a {
  color: #3a5e63;
  font-weight: 600;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
  color: #172b2e;
}

.login-box {
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 10px;
}

.login-box p {
  color: #262626;
  font-size: 14px;
  margin: 15px;
}

.login-box a {
  color:  #01adc8;
  text-decoration: none;
  font-weight: 600;
}

.login-box a:hover {
  text-decoration: underline;
}

.contact-info {
  color: #8e8e8e;
  font-size: 12px;
  line-height: 16px;
  margin: 18px 0 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.contact-info a {
  color: #3a5e63;
  font-weight: 600;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
  color: #172b2e;
} 